name: ci

on:
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: 
          password: 

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Normalize branch name for Docker tag
        id: vars
        run: |
          BRANCH="${GITHUB_REF_NAME//\//-}"
          echo "tag=$BRANCH" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            /experimenter_template:
            /experimenter_template:latest
          context: ./experimenter
          file: ./experimenter/Dockerfile
          platforms: linux/amd64
